torch==2.4.1
torchvision
lightning
rich
torchmetrics
albumentations
scikit-learn
tabulate
tensorboardX
colored
scipy
seaborn
kornia
dill
fire
capybara-docsaid>=0.8.2
chameleon-docsaid>=0.3.0
mmcv==2.1.0
mmdet==3.3.0
onnxsim==0.4.36